{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>App Configuration</h1>
<h2>Create New Config</h2>
<form method="post" action="/config/new">
    <div>
        <label for="key">Key:</label>
        <input type="text" name="key" required>
        <label for="value">Value:</label>
        <input type="text" name="value" required>
        <button type="submit" class="btn btn-primary btn-sm">Add Config</button>
    </div>
</form>
<hr>

<form method="post" action="/config">
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        {% for item in config %}
        <tr>
            <td>
                <label>{{ item.key }}</label>
            </td>
            <td>
                {% if item.key == 'RECITER' %}
                    <select name="{{ item.key }}" class="form-control">
                        {% for reciter in reciters %}
                            <option value="{{ reciter.key }}" {% if reciter.key == item.value %}selected{% endif %}>
                                {{ reciter.english_name }}
                            </option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="text" name="{{ item.key }}" value="{{ item.value }}" class="form-control">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
