{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <h1 style="margin-bottom: 20px;">Select Surah and Verse Range</h1>
    <form action="/create-video" method="get">
        <!-- Surah Selection -->
        <div>
            <label for="surah">Select Surah:</label>
            <select id="surah" name="surah" onchange="updateVerseOptions()" required>
                <option value="" disabled selected>Select Surah</option>
                {% for surah in surahs %}
                <option value="{{ surah.number }}">{{ surah.number }}. {{ surah.name }}</option>
                {% endfor %}
            </select>
        </div>
        <br/>
        
        <div>
            <label for="start_verse">Starting Verse:</label>
            <select id="start_verse" name="start_verse" onchange="updateEndVerseOptions()" required>
                <!-- Options populated by JavaScript -->
            </select>
            
            <label for="end_verse">Ending Verse:</label>
            <select id="end_verse" name="end_verse" required>
                <!-- Options populated by JavaScript -->
            </select>
        </div>
        <br>
        <div>
            <label for="reciter">Select Reciter:</label>
            <select id="reciter" name="reciter" required>
                {% for r in reciters %}
                <option value="{{r.key}}" {% if r.key=="ar.alafasy" %} selected="selected"{% endif %}>{{ r.english_name }}</option>
                {% endfor %}
                
            </select>
        </div>
        <br>

        <div>
        <label>Create short:</label>
            <input type="radio" id="is_short" name="is_short" value="true">
            <label for="short">Yes</label>
            <input type="radio" id="is_short" name="is_short" value="false" checked>
            <label for="regular">No</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
</div>

<script>
    const surahs = {{ surahs | tojson }};
    const startVerseSelect = document.getElementById("start_verse");
    const endVerseSelect = document.getElementById("end_verse");

    // Populate verse options when a surah is selected
    function updateVerseOptions() {
        const surahNumber = document.getElementById("surah").value;
        const selectedSurah = surahs.find(surah => surah.number == surahNumber);
        
        // Clear existing options
        startVerseSelect.innerHTML = "";
        endVerseSelect.innerHTML = "";

        // Populate start and end verse options with the full range of verses
        for (let i = 1; i <= selectedSurah.total_verses; i++) {
            const startOption = document.createElement("option");
            startOption.value = i;
            startOption.text = i;
            startVerseSelect.add(startOption);
        }

        // Initially populate end_verse with the full range of verses
        updateEndVerseOptions();
    }

    // Adjust end_verse options based on selected start_verse
    function updateEndVerseOptions() {
        const startVerse = parseInt(startVerseSelect.value, 10);
        const surahNumber = document.getElementById("surah").value;
        const selectedSurah = surahs.find(surah => surah.number == surahNumber);

        // Clear current options in end_verse
        endVerseSelect.innerHTML = "";

        // Populate end_verse dropdown with values starting from start_verse to total verses
        for (let i = startVerse; i <= selectedSurah.total_verses; i++) {
            const endOption = document.createElement("option");
            endOption.value = i;
            endOption.text = i;
            endVerseSelect.add(endOption);
        }
    }
</script>
{% endblock %}