{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <h1 style="margin-bottom: 20px;">Select Surah and Verse Range</h1>
    <form method="get" id="surah-form" action="/create-surah-video">
        <div class="d-flex gap-3" style="margin-bottom: 20px;">
            <div>
                <label for="surah">Select Surah:</label>
                <select class="form-select" name="surah_number" id="surah-select">
                    {% for surah in surahs %}
                        <option value="{{ surah.number }}">
                            {{ surah.number }} - {{ surah.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div>
                <label for="reciter">Select Reciter:</label>
                <select class="form-select" id="reciter" name="reciter" required>
                    {% for r in reciters %}
                    <option value="{{r.key}}" {% if r.key == c_reciter %} selected="selected"{% endif %}>{{ r.english_name }}</option>
                    {% endfor %}
                    
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Generate</button>
    </form>
</div>

<script>
    document.getElementById('surah-form').addEventListener('submit', function(e) {
        e.preventDefault();  // prevent default form submit
        const surahNumber = document.getElementById('surah-select').value;
        const form = e.target;
    
        // dynamically set form action
        form.action = `/create-surah-video`;
        form.submit();  // now submit with updated action
    });
</script>

{% endblock %}